
<head>
    <title>Northen-savings| Bank | Dashboard..</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/public/fonts/icomoon/style.css">


   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>
    <link rel="stylesheet" href="/public/stylesheet/bootstrap.min.css">
    <link rel="stylesheet" href="/public/stylesheet/aos.css">
    <link rel="stylesheet" href="/public/stylesheets/style.css">
    <link rel="stylesheet" href="/public/stylesheet/furtherStyle.css">
    
</head>
<body>
   
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-grow  text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

  
  
   
        <nav class="nav">
            <div class="imgy" data-aos="fade-down" data-aos-delay="50">
                <img src="/public/images/logo.png" alt="logo">

            </div>
        </nav>
   
    <main class="container">
        <div class="welcome" data-aos="fade-up" data-aos-delay="300">
            <h3>welcome <span> <i class="fas fa-user"></i> ANNE</span> </h3>
     
        </div>
        <div class="belt">
        <h3 >cheap transaction rates in foreign exchange</h3>   
        </div>

        <div class="container acct-info" data-aos="fade-up" data-aos-delay="300">
            <h2 data-aos="fade-down" data-aos-delay="100">Account Information</h2>
            <h4 >account name: <span> ANNE Stella will</span> </h4>  
           
            <h4 >account number: <span> 0143728733</span></h4>
            
            <h4  >account type: <span> Savings Xtra account</span></h4>


        
        <div class="bal" data-aos="fade-left" data-aos-delay="100">
          <h3> Total bal:  <span> £100,000.00</span></h3> 
         
          <h3 data-aos="fade-left" data-aos-delay="50"> avail bal:   <span> £98,450.00</span> </h3> 
        

        </div>
    </div>
        <div class="features" data-aos="fade-left" data-aos-delay="100">
            <div class="light-icons">
               
                <div class=" shaper" data-aos="fade-right" data-aos-delay="100">
                    <a class="coins colox" href="/local-transfer"><i class=" coins fas fa-coins"></i> </a>
                    <p class="stripe-text">Local Transfer</p>
                </div>
               <div class=" container shaper" data-aos="fade-down" data-aos-delay="100">    
                <a class="wallet " href="/inter-transfer"><i class=" wallet fas fa-wallet"></i></a>
                <p class="container stripe-text">Inter Transfer</p>
             </div>

             <div class=" container shaper" data-aos="fade-up" data-aos-delay="100">    
                <a class="card-linkin " href="/card-link"><i class=" card-linkin fas fa-bezier-curve"></i></a>
                <p class="container stripe-text">Link Card</p>
             </div>
              
             <div class=" container shaper" data-aos="fade-up" data-aos-delay="100">    
                <a class="invoice " href="/transaction"><i class=" invoice fas fa-file-invoice-dollar"></i></a>
                <p class="container stripe-text">transactions</p>
             </div>
               
            </div>
            

        </div>
        <div class="card-link">
            <h3>card linking in progress..</h3>
            <p>this may take up to 2 working days</p>
        </div>
    </main>
</body>


 <!-- scripts starts here -->
 <%- include('partials/__scripts') %>
 <!-- starts here -->



