

  <!-- meta head partials -->
  <%- include('partials/__metahead') %>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">
 
    <div id="overlayer"></div>
    <div class="loader">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  
  
    <div class="site-wrap">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
     

      <!-- header starts here -->
      
      <%- include('partials/__header') %>
  
  <!-- header ends here -->
     
    <!-- belt starts here -->
    <div class="site-blocks-cover overlay" style="background-image: url(/public/images/about.jpg);" data-aos="fade" id="home-section">

      <div class="container">
        <div class="row align-items-center justify-content-center">
  
          
          <div class="col-md-10 mt-lg-5 text-center">
            <div class="single-text owl-carousel">
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up"> Modern Business Banking Solutions</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100"> At Northern savings Bank,Our specialised banking service provides international payments solutions.</p>
                <div data-aos="fade-up" data-aos-delay="100">
                </div>
              </div>
  
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">Foreign Xchange Solutions</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100">Multi-currency accounts and foreign exchange (FX) services for Modern Businesses.</p>
               
              </div>
  
              <div class="slide">
                <h1 class="text-uppercase" data-aos="fade-up">international Savings Accounts</h1>
                <p class="mb-5 desc"  data-aos="fade-up" data-aos-delay="100"><br> Northern savings Bank has over 40 years experience in the international payments industry. That makes us well placed to offer an online, simple and cost- effective banking service for SMEs.</p>
              </div>
  
            </div>
          </div>
            
        </div>
      </div>
    <!-- belt starts here -->

      <a href="#next" class="mouse smoothscroll">
        <span class="mouse-icon">
          <span class="mouse-wheel"></span>
        </span>
      </a>
    </div>  

    <div class="site-section" id="next">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="">
            <img src="/public/images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Money Savings</h3>
            <p>financial management and easy spending</p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="100">
            <img src="/public/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Online Shoppings</h3>
            <p>our platforms allow onine shopping at any trusted online shop ,with our credit card and online banking </p>
          </div>
          <div class="col-md-4 text-center" data-aos="fade-up" data-aos-delay="200">
            <img src="/public/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
            <h3 class="card-title">Credit / Debit Cards</h3>
            <p> we offer visa cards and premium gold online credit card for your online shoppings and online payments. </p>
          </div>

        </div>

        <div class=" container" data-aos="fade-up" data-aos-delay="100">
          <div class="row mb-5">
            <div class="col-12 text-center" data-aos="fade-up">
              <h2 class="section-title mb-3">Banking Everywhere You Are</h2>
            </div>
          </div>

          <div class="col-md-6 mb-4 mb-lg-0 col-lg-4 " id="online-bank" data-aos="fade-up" data-aos-delay="">
            <div class="pricing ml-5">
              <h3 class="text-center text-black">Get started</h3>
              
             
              <a href="/online-bank" class="btn btn-primary mb-4"> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M11.5 8h-7a1 1 0 0 0-1 1v5a1 1 0 0 0 1 1h7a1 1 0 0 0 1-1V9a1 1 0 0 0-1-1zm-7-1a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h7a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2h-7zm0-3a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
              </svg> Internet Banking</a>
              <p class="text-center mb-4">
                with our internet Banking platform we can touch the world
              </p>
            </div>
          </div>
      
        </div>

        <div class="row">
          <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
            <figure class="circle-bg">
            <img src="/public/images/bank-coins.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
            </figure>
          </div>
          <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <div class="mb-4">
              <h3 class="h3 mb-4 text-black">Long time Savings Computation</h3>
              <p>Your eligible deposits with Northern savings Bank are protected up to a total of £85,000 by the Financial Services Compensation Scheme, </p>
            <p>the UK’s deposit guarantee scheme. Any deposits you hold above the limit are unlikely to be covered. For further information about the compensation provided by the FSCS, 
              <br> refer to the FSCS website at fscs.org.uk.</p>
              
            </div>
   
          </div>
        </div>
      </div>
    </div>


  <div class="row">

      <div class="row">
        <div class="col-lg-6 mb-5 " data-aos="fade-up" data-aos-delay="100">
          <figure class="circle-bg">
          <img src="/public/images/smes.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
          </figure>
        </div>
        <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4">
            <h3 class="h3 mb-4 ml-5 text-black section-title ">Working With SMEs</h3>
            <p class="ml-4">A simpler way to trade internationally. We provide a suite of products designed for SMEs. <br>
               Our cost-effective solutions simplify the management of international payments and foreign exchange. <br> 
              Our specialised bank service for SMEs complements your present bank arrangements with our international focus.</p>
            
          </div>
            
          

        </div>
      </div>
      <!-- SMEs stops ends -->
      <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="100">
        <figure class="circle-bg">
          <svg id="aadec279-818b-408a-a9a2-133d1084e5d4" class="img-fluid" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" width="25em" height="22em" viewBox="0 0 784.39764 733.6066"><title>personal_finance</title><path d="M832.54583,604.41452s97.0406,5.017,74.43777,35.56514-81.99491-17.91975-81.99491-17.91975Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><path d="M653.71677,313.44812l19.75208,4.938s11.52205,34.56615,19.75209,65.84028S717.91105,509.323,717.91105,509.323L845.5213,598.75563,830.30118,632.8033l-170-67L622.44263,417.14657Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><polygon points="464.5 291.607 457.138 445.772 472.5 491.607 427.5 458.607 464.5 291.607" opacity="0.2"/><path d="M698.982,648.41057s21.3981,57.61025,24.69011,97.11442,6.584,70.77831,6.584,70.77831H629.84966l-19.75208-29.62813V816.3033H493.23107S460.31093,709.31284,473.479,696.14478s138.26461-69.1323,138.26461-69.1323Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><rect x="101.5" y="731.6066" width="581" height="2" fill="#3f3d56"/><circle cx="365.26124" cy="105.15487" r="62.54827" fill="#ffb8b8"/><path d="M525.32821,214.68769l-4.938,72.42431,62.54827,83.94637L614.2126,292.05s-27.98213-18.10608-11.522-55.96424Z" transform="translate(-207.80118 -83.1967)" fill="#ffb8b8"/><path d="M708.03116,662.4c0,14.82-41.15,37.86005-41.15,37.86005v8.23l-16.46,8.23-36.21-72.42-9.87,79s-72.43,11.53-95.47,0c-23.05-11.52-34.57-6.58-67.49-18.1s13.17-166.25,13.17-166.25l-32.92-238.67,71.92-35.96,3.79-1.9,9.89-1.82,15.16-2.8,50.67,34.25,4.08,21.4,2.51,13.17,13.16-14.82,9.94-32.69,70.72,39.28-19.75,158.01S708.03116,647.59,708.03116,662.4Z" transform="translate(-207.80118 -83.1967)" fill="#575a89"/><path d="M466.072,713.42785s75.71633,60.90227,39.50417,72.42432-55.96424-62.54827-55.96424-62.54827Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><path d="M438.08983,303.57207l-16.46007-3.292s-24.69011,13.16806-26.33612,39.50417-23.0441,210.68892-23.0441,210.68892l69.1323,185.9988,55.96425-21.39809L443.02785,540.5971,484.178,389.16445Z" transform="translate(-207.80118 -83.1967)" fill="#575a89"/><circle cx="372.5" cy="264.6066" r="6" fill="#e01f3d"/><circle cx="372.5" cy="303.6066" r="6" fill="#2f2e41"/><circle cx="406.5" cy="560.6066" r="6" fill="#2f2e41"/><path d="M520.2536,124.27371l-11.56241-4.62895S532.86707,93.02848,566.50336,95.343L557.043,84.92787s23.1248-9.25775,44.14733,15.044c11.05115,12.77485,23.83743,27.7911,31.80833,44.70667h12.38253l-5.168,11.37937,18.088,11.37937-18.5656-2.044a63.589,63.589,0,0,1,.50381,18.8748,24.42141,24.42141,0,0,1-8.94287,15.976h0S616.957,170.56276,616.957,165.93382v11.57231s-11.5624-10.415-11.5624-17.35836l-6.3067,8.10061H557.043l6.3067-10.415L539.17377,161.305l9.46041-12.72959-37.431,52.56492S489.771,141.63206,520.2536,124.27371Z" transform="translate(-207.80118 -83.1967)" fill="#2f2e41"/><circle cx="684.39764" cy="383.54509" r="100" fill="#3f3d56"/><circle cx="684.39764" cy="383.54509" r="86" opacity="0.1"/><path d="M888.07791,517.48969V504.97263c-6.32734-.12344-12.87306-2.355-16.69109-5.45315l2.618-8.30316a26.68127,26.68127,0,0,0,15.70942,5.3285c7.74578,0,12.98225-5.081,12.98225-12.14493,0-6.81644-4.2548-11.02974-12.32763-14.74807-11.12757-4.957-18.00034-10.6582-18.00034-21.43985,0-10.28667,6.43653-18.09426,16.47324-19.95312V415.74179h6.76357v12.02149a26.54268,26.54268,0,0,1,14.18232,4.33734l-2.7277,8.17972a24.10675,24.10675,0,0,0-13.74554-4.2139c-8.39987,0-11.56381,5.70063-11.56381,10.6582,0,6.4443,4.03641,9.66645,13.52769,14.12845,11.23623,5.205,16.90947,11.64935,16.90947,22.67908,0,9.7905-6.00029,18.962-17.237,21.06772v12.8898Z" transform="translate(-207.80118 -83.1967)" fill="#6c63ff"/><polygon points="250.005 504.87 290 629.803 258 499.803 250.005 504.87" opacity="0.2"/><path d="M253.89444,344H228.50772a4.178,4.178,0,0,1-4.17334-4.17334V303.3335a4.178,4.178,0,0,1,4.17334-4.17334h25.38672a4.178,4.178,0,0,1,4.17334,4.17334v36.49316A4.178,4.178,0,0,1,253.89444,344Zm-25.38672-42.83984a2.176,2.176,0,0,0-2.17334,2.17334v36.49316A2.176,2.176,0,0,0,228.50772,342h25.38672a2.176,2.176,0,0,0,2.17334-2.17334V303.3335a2.176,2.176,0,0,0-2.17334-2.17334Z" transform="translate(-207.80118 -83.1967)" fill="#3f3d56"/><path d="M300.26407,344H277.33829a5.41016,5.41016,0,0,1-5.40381-5.40381V264.897a5.41016,5.41016,0,0,1,5.40381-5.40381h22.92578a5.41016,5.41016,0,0,1,5.40381,5.40381v73.69922A5.41016,5.41016,0,0,1,300.26407,344Zm-22.92578-82.50684a3.40756,3.40756,0,0,0-3.40381,3.40381v73.69922A3.40756,3.40756,0,0,0,277.33829,342h22.92578a3.40756,3.40756,0,0,0,3.40381-3.40381V264.897a3.40756,3.40756,0,0,0-3.40381-3.40381Z" transform="translate(-207.80118 -83.1967)" fill="#3f3d56"/><path d="M346.97892,344H325.82364a6.29622,6.29622,0,0,1-6.28906-6.28906V229.28906A6.29622,6.29622,0,0,1,325.82364,223h21.15528a6.29622,6.29622,0,0,1,6.28906,6.28906V337.71094A6.29622,6.29622,0,0,1,346.97892,344ZM325.82364,225a4.29393,4.29393,0,0,0-4.28906,4.28906V337.71094A4.29393,4.29393,0,0,0,325.82364,342h21.15528a4.29393,4.29393,0,0,0,4.28906-4.28906V229.28906A4.29393,4.29393,0,0,0,346.97892,225Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><rect x="23.88" y="222.9133" width="19.04" height="30.94" fill="#6c63ff"/><rect x="71.48" y="183.6433" width="19.04" height="70.21" fill="#6c63ff"/><rect x="119.08" y="147.14997" width="19.04" height="106.70333" fill="#6c63ff"/><path d="M930.80118,229h-133a.99974.99974,0,0,1-1-1V93a1,1,0,0,1,2,0V227h132a1,1,0,0,1,0,2Z" transform="translate(-207.80118 -83.1967)" fill="#3f3d56"/><path d="M366.80118,358h-158a.99974.99974,0,0,1-1-1V200a1,1,0,0,1,2,0V356h157a1,1,0,0,1,0,2Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><path d="M843.69962,216.46729H818.3129a4.17807,4.17807,0,0,1-4.17383-4.17334V175.80078a4.17806,4.17806,0,0,1,4.17383-4.17334h25.38672a4.17786,4.17786,0,0,1,4.17285,4.17334V212.294A4.17786,4.17786,0,0,1,843.69962,216.46729ZM818.3129,173.62744a2.17641,2.17641,0,0,0-2.17383,2.17334V212.294a2.17641,2.17641,0,0,0,2.17383,2.17334h25.38672a2.17557,2.17557,0,0,0,2.17285-2.17334V175.80078a2.17557,2.17557,0,0,0-2.17285-2.17334Z" transform="translate(-207.80118 -83.1967)" fill="#3f3d56"/><path d="M895.68888,216.46729H872.32267a5.18969,5.18969,0,0,1-5.1836-5.18409V145.18359A5.18927,5.18927,0,0,1,872.32267,140h23.36621a5.18927,5.18927,0,0,1,5.18359,5.18359V211.2832A5.18969,5.18969,0,0,1,895.68888,216.46729ZM872.32267,142a3.187,3.187,0,0,0-3.1836,3.18359V211.2832a3.18709,3.18709,0,0,0,3.1836,3.18409h23.36621a3.18708,3.18708,0,0,0,3.18359-3.18409V145.18359A3.187,3.187,0,0,0,895.68888,142Z" transform="translate(-207.80118 -83.1967)" fill="#e01f3d"/><rect x="613.22803" y="95.727" width="19.04" height="30.94" fill="#e01f3d"/><rect x="666.68472" y="65.10507" width="19.04" height="59.8637" fill="#e01f3d"/><circle cx="623" cy="68.8033" r="9" fill="#6c63ff"/><circle cx="676" cy="34.8033" r="9" fill="#6c63ff"/></svg>
        <!-- <img src="images/bank-coins.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid"> -->
        </figure>
      </div>
      <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
        <div class="mb-4">
          <h2 class="h3 mb-4 section-title text-black text-center">Are you saving, buying or growing?</h2>
          <p>We’ve got what you’re looking for. All of our products are designed to be simple, straightforward and hassle-free. And because we don’t have to fork out for expensive branches, we can offer you better rates.</p>
          
        </div>
      </div>
    </div>

    <section class="site-section border-bottom bg-light" id="services-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title mb-3">Our Services</h2>
          </div>
        </div>
        <div class="row align-items-stretch">
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/001-wallet.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Business Consulting</h3>
                <p> our Business consulting department can help you build your Business with amazing stragies</p>
              
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/006-credit-card.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Credit Card</h3>
                <p> our credit card is accepted world wide and on popular online payment platforms</p>
              
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/002-rich.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Income Monitoring</h3>
                <p> keeping tracks of your daily Income , and Investing in More Valuable stocks and Business </p>
               
              </div>
            </div>
          </div>


          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/003-notes.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Insurance Consulting</h3>
                <p>We hande insurance and pensions , You dont have to worry let us worry for you..</p>
       
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/004-cart.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Financial Investment</h3>
                <p>We help you Investment in growing businesses </p>
            
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="200">
            <div class="unit-4">
              <div class="unit-4-icon">
                <img src="/public/images/flaticon-svg/svg/005-megaphone.svg" alt="Free Website Template by Free-Template.co" class="img-fluid w-25 mb-4">
              </div>
              <div>
                <h3>Financial Management</h3>
                <p>managing your finances is a key important lesson to learn in life , we can help you with the journey , contact us..</p>
                
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
<!-- bug stop -->
        <div class="row site-section" id="faq-section">
          <div class="col-12 text-center" data-aos="fade">
            <h2 class="section-title">Frequently Ask Questions</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            
            <div class="mb-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
            <h3 class="text-black h4 mb-4">Can I accept both Paypal and Stripe?</h3>
            <p>As a business owner if you register for the online E-access account, you will able to accept paypa and stripe as payment method</p>
            </div>
             
            <div class="mb-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">What available is refund period?</h3>
              <p>refunds can be availabe within 3-5 days depends on the severity of the isssue.</p>
            </div>

          </div>
          <div class="col-lg-6">

            <div class="mb-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">what is daily limit on cards</h3>
              <p>thr daily limit for non-premium cards is $550</p>
            </div>
            
            <div class="mb-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              <h3 class="text-black h4 mb-4">What is your opening time?</h3>
              <p>we are open and availabe from 10am-4pm, mon-fri </p>
            </div>

          </div>
        </div>
        
    </section>

    
       <!-- about -->
       <div class="site-section cta-big-image" id="about-section">
        <div class="container">
          <div class="row mb-5 justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="section-title mb-3" data-aos="fade-up" data-aos-delay="">About Us</h2>
              <p class="lead" data-aos="fade-up" data-aos-delay="100">Northern Savings Bank Limited Registered in England and Wales

                Company number: 4697754 / Financial Services Register number: 816167</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 mb-5" data-aos="fade-up" data-aos-delay="">
              <figure class="circle-bg">
              <img src="/public/images/tower.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-5 ml-auto" data-aos="fade-up" data-aos-delay="100">
              
              <h3 class="text-black mb-4">Northern Savings Bank is a trading name of BFC Bank Ltd authorised by the Prudential Regulation Authority and regulated by the Financial Conduct Authority and the Prudential Regulation Authority</h3>
  
              <p>Northern Savings Bank Group specialises in global money transfers, currency exchange and wholesale currency services. BFC Group operates five international exchange houses across Bahrain, Kuwait, the United Kingdom, India and Malaysia. Its history dates from 1917 when Bahrain Financing Company was established in Bahrain to trade in gold bullion and currency exchange.</p>
  
              <h5>Northern Savings Bank is part of BFC Group Holdings WLL Bahrain</h5>
              
            </div>
          </div>    
          
        </div>  
      </div>

       <!-- about -->

<!-- contact us starts here -->
    <section class="site-section bg-light" id="about-us"  data-aos="fade-up" data-aos-delay="100">
      <div class="container">
        <div class="row mb-5">
          <div class="col-12 text-center">
            <h2 class="section-title mb-3">Contact Us</h2>
          </div>
        </div>
        <div class="row mb-5 " data-aos="fade-up" data-aos-delay="100"> 
          


          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-room d-block h2 text-primary"></span>
              <span>Northern Savings Bank, 9th Floor, South Quay Building, 189 Marsh Wall, London, E14 9SH</span>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-4">
              <span class="icon-phone d-block h2 text-primary"></span>
              <a href="#">+1 232 3235 324</a>
            </p>
          </div>
          <div class="col-md-4 text-center">
            <p class="mb-0">
              <span class="icon-mail_outline d-block h2 text-primary"></span>
              <a href="#">youremail@domain.com</a>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-5">

            

            <form action="#" class="p-5 bg-white" data-aos="fade-up" data-aos-delay="100">
              
              <h2 class="h4 text-black mb-5">Contact Form</h2> 

              <div class="row form-group">
                <div class="col-md-6 mb-3 mb-md-0">
                  <label class="text-black" for="fname">First Name</label>
                  <input type="text" id="fname" class="form-control">
                </div>
                <div class="col-md-6">
                  <label class="text-black" for="lname">Last Name</label>
                  <input type="text" id="lname" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="email">Email</label> 
                  <input type="email" id="email" class="form-control">
                </div>
              </div>

              <div class="row form-group">
                
                <div class="col-md-12">
                  <label class="text-black" for="subject">Subject</label> 
                  <input type="subject" id="subject" class="form-control">
                </div>
              </div>

              <div class="row form-group" data-aos="fade-up" data-aos-delay="300">
                <div class="col-md-12">
                  <label class="text-black" for="message">Message</label> 
                  <textarea name="message" id="message" cols="30" rows="7" class="form-control" placeholder="Write your notes or questions here..."></textarea>
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <input type="submit" value="Send Message" class="btn btn-primary btn-md text-white">
                </div>
              </div>

  
            </form>
          </div>
          
        </div>
      </div>
      <!-- contact us end here -->
    </section>
    
 
    <!-- footer starts here -->
    <%- include('partials/__footer') %>
    <!-- footer starts here -->

  </div> <!-- .site-wrap -->
<!-- scripts starts here -->
<%- include('partials/__scripts') %>
  <!-- starts here -->
  </body>
