   <!-- meta head partials -->
   <%- include('partials/__metahead') %>

   <body data-spy="scroll" data-target=".site-navbar-target" data-offset="200">
    


      <!-- header starts here -->
      
      <%- include('partials/__header') %>
  
  <!-- header ends here -->
  <div class="site-blocks-cover overlay text-center" style="background-image: url(images/road.jpg);" data-aos="fade" id="home-section">
  
    <div class="col-md-8 mt-lg-5 text-center">
        <h1> Modern Markerts Basic Guide to Starting a Franchise in the NYC</h1>
  
        
      </div>
    
 </div>


        <!-- footer starts here -->
        <%- include('partials/__footer') %>
        <!-- footer starts here -->

    <!-- scripts starts here -->
    <%- include('partials/__scripts') %>
    <!-- starts here -->
</body>