<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    
    <title>NSB-Admin-dashboard</title>
   <link rel="stylesheet" href="/public/stylesheet/admin-dash.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
   <link rel="stylesheet" href="/public/stylesheet/bootstrap.min.css">
</head>
