<title>Northern savings Bank |Admin</title>

<link rel="stylesheet" href="/public/stylesheet/admin-login-style.css">
 <H1 class="hello"> Hello Admin (-\-) </H1>
<div class="content container">
    <form class="admin-login-form"  action="/admin-dashboard">
        <input class="inpt" type="text" name="" id="" placeholder=" username">
        <input class="inpt" type="text" name="" id="" placeholder=" passport">
        <button class="btn-go"> Go..admin</button>
    </form>
</div>